<div  ng-if="$party">
	<div layout="column" flex>
		<h2 class="m16">Picture List Edit</h2>
		<div>
			PictureIds: {{ pictureIds }}
		</div>
		<div class="tm24">
			<pip-picture-list-edit pip-picture-ids="pictureIds"
								   pip-created="onPictureListCreated($event)"
								   pip-default-text="Click here or drag files to upload"
								   ng-disabled="pictureListDisabled">
			</pip-picture-list-edit>
		</div>
	</div>
	<div class="h64" layout="row" layout-align="start center">
		<md-button ng-click="onSaveListClick()">Save</md-button>
		<md-button ng-click="onResetListClick()">Reset</md-button>
		<md-button ng-click="pictureListDisabled = !pictureListDisabled">Enable/Disable</md-button>
	</div>
	<div class="divider"></div>
	<div layout="column" flex>
		<h2 class="m16">Copied content</h2>
		<div>
			PictureIds: {{ pictureIds }}
		</div>
		<div class="tm24">
			<pip-picture-list-edit pip-picture-ids="pictureContentIds"
								   pip-created="onPictureContentCreated($event)"
								   pip-default-text="Click here or drag files to upload"
								   pip-added-picture="true"
								   ng-disabled="false">
			</pip-picture-list-edit>
		</div>
	</div>
	<div class="h64" layout="row" layout-align="start center">
		<md-button ng-click="onSaveContentClick()">Save</md-button>
	</div>
</div>